In [1]:
#imports 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
data_raw = pd.read_csv('smart_locks.csv')
data_raw.describe()

           Rating
count  261.000000
mean     4.074330
std      0.651678
min      2.000000
25%      3.700000
50%      4.100000
75%      4.500000
max      5.000000

In [8]:
data_raw.isnull().sum()

Brand Name        0
Price             5
Rating          129
Rating Count    129
URL               0
dtype: int64

In [9]:
data_raw.head()

,Brand Name,Price,Rating,Rating Count,URL
0,Atomberg,"15,999",4.3,105,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,Godrej,"14,607",4.4,405,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,Atomberg,"10,499",NaN,NaN,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
3,Godrej,"11,945",4.5,180,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
4,LAVNA,"5,690",4.3,203,https://www.amazon.in/LAVNA-LA16-Fingerprint-B...

In [16]:
# filling null values with mean of their particular brand

SyntaxError: expected ':' (1801385086.py, line 4)

In [ ]:
for col in data_raw.columns:
    for i in col:
        if i == np.nan:
            i = data_raw.loc[data_raw[col] == ]